*, *::after, *::before{
    box-sizing: border-box;
}

.carousel_box{
    margin: 3rem 1.5rem;
}

.carousel_bg , .subscribe_pane{
    background: #fceae8;
}

.custom_btn{
    background: #FFB4B4;
    
}

.custom_btn:hover{
    background: #ff9797;
    border: 1px solid #ff9797;
    
}

.product_card{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.subscribe_btn{
    padding: 0.35rem 3rem;
}